@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                Name
            </th>
           
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @item.Name
            </td>
            
            <td>
                @item.Price
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.CategoryId)*@
                @item.category.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
               <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
               @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>


